# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
files/
#lib/
lib64/
parts/
sdist/
var/
logs/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
.python-version
.idea/
venv/

# test product
data/result
/execute_case

# test matrix
data/matrix/dbc_lin_dbis_matrix.dbo

# add evbs python file
!lidds/_evbs_python.pyd

# cache
cache/

# log
log/